<div class="page-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="header-page">
                    <h1>Aviso de Privacidad</h1>
                    <ul>
                        <li><a routerLink="/home">Inicio</a> </li>
                        <li><i class="fas fa-angle-double-right"></i> Aviso de Privacidad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Aviso de <span>Privacidad</span></h2>

                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12" style="text-align:justify;">
                    AVISO DE PRIVACIDAD
                    En cumplimiento a lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, publicada en el Diario Oficial de la Federación el día 5 de Julio de 2010, PRIBSA, S.A. de C.V. hace del conocimiento del público en general lo siguiente:

                    La Identidad y Domicilio del Responsable
                    ONLINE PROPIEDADES.COM Y ONLINE PROPIEDADES.COM.MX
                    Con domicilio en:
                    Av. Monte Miranda # 17  piso 5
                    Corporativo Orvit
                    Col. Piamonte
                    El Marqués, Querétaro.
                    CP. 76240
                    +524422010662

                    Las Finalidades Del Tratamiento De Datos
                    Los datos personales que se encuentran en las bases de datos de ONLINE PROPIEDADES.COM Y ONLINE PROPIEDADES.COM.MX
                    y de sus subsidiarias y filiales son utilizados para la prestación de los servicios de promoción y administración inmobiliaria en México, Estados Unidos y Canada
                    y préstamos de servicios similares y relacionados de la misma naturaleza ofrecidos por terceras personas; la prestación de otros servicios relacionados con el negocio hipotecario o inmobiliario y demás actividades necesarias.

                    Para llevar a cabo nuestra labor se utilizan datos personales de carácter general y datos patrimoniales.

                    Opciones y Medidas para Limitar el Uso o Divulgación de los Datos
                    Para restringir, limitar o controlar tus datos personales, ONLINE PROPIEDADES.COM Y ONLINE PROPIEDADES.COM.MX  cuenta siempre con medidas de Seguridad para evitar su divulgación, implementando diversos controles de seguridad y protección de la
                    información en sus servidores, equipos de cómputo y redes informáticas. De igual manera en la utilización de información de forma física se efectúa un estricto control de vigilancia por parte del personal, quien además se adhiere desde el momento de su ingreso  al sitio a las cláusulas de confidencialidad de la empresa.

                    Puedes Acceder, Rectificar, Cancelar tus datos personales, así como Oponerte (ejercicio de tus derechos ARCO) al tratamiento de los mismos o en su caso revocar el consentimiento para el fin que nos los hayas torgado a través de los formularios del sitio.

                    Las medidas para ejercer los derechos de acceso, rectificación, cancelación u oposición de conformidad a lo dispuesto en esta Ley y Procedimiento por el cual el responsable comunicara a los titulares de cambios al aviso de privacidad de conformidad con lo previsto en esta Ley.

                    El titular podrá ejercer estos derechos, por si mismos o a través de su representante legal por medio de una solicitud dirigida a ONLINE PROPIEDADES.COM Y ONLINE PROPIEDADES.COM.MX que contenga como mínimo los siguientes datos:
                    •Nombre del titular.
                    •Domicilio para recibir respuesta a la solicitud.
                    •Documentos con que acredite su identidad el titular o la representación legal.
                    •Descripción clara y precisa de los datos personales sobre los que ejercerá sus derechos.
                    •Cualquier elemento que facilite la localización de datos personales.

                    Dicha solicitud y documentos deberán enviarse al correo electrónico info@onlinepropiedades.com en documentos digitalizados, a través de la que recibirá respuesta en un plazo máximo de 20 días hábiles contados desde la fecha de recepción de la solicitud y cubriendo previamente los gastos de envío que se pudieran generar por el envío de la información.

                    Transferencia de Datos que se Efectúen
                    ONLINE PROPIEDADES.COM Y ONLINE PROPIEDADES.COM.MX evitará siempre la transferencia de datos. Solo en caso de ser necesario por así requerirlo
                    las actividades que correspondan al giro de la empresa y por mandato judicial se efectuará la transferencia de los datos personales con el cuidado, medidas y controles necesarios para el manejo de la información de tipo
                    confidencial.

                    Procedimiento y Medio por el cual se Comunicará a los Titulares de Cambios al Aviso de Privacidad.

                    ONLINE PROPIEDADES.COM Y ONLINE PROPIEDADES.COM.MX se reserva el derecho de realizar modificaciones al Aviso de Privacidad.

                    Para dar a conocer los cambios en el Aviso de Privacidad a los titulares se comunicará a través de correo electrónico y en todo caso se aplicarán las medidas compensatorias que refiere la ley.

                </div>
            </div>
        </div>
    </div>
</div>